<div class="container">
<h3 class="titulo-page">Cadastrar Suspeita</h3>
  <%= simple_form_for(@alert) do |f| %>
    <!-- <div class="form-inputs"> -->
      <%#= f.association :passenger, collection: Passenger.where(role: 'clerk'), label_method: :email %>
    <!-- </div> -->
    <div>
      <%= f.simple_fields_for :passenger do |passenger_form| %>
        <%= passenger_form.input :cpf, label: "CPF" %>
      <% end %>
    </div>
    <div class="form-actions text-right">
       <%= f.button :submit, value: "Buscar", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
