<div class="container">
    <h4 class="titulo-page">Cadastrar Suspeita</h4>
    <div class="ml-2">
        <div class="card-body">
          <div>
            <%= simple_form_for @alert, url: cpf_check_path, method: :post do |f| %>
              <%= f.simple_fields_for :passenger do |passenger_form| %>
                <%= passenger_form.input :cpf, label: "CPF" %>
              <% end %>
              <div class="form-actions text-right">
                <%= f.button :submit, value: "Buscar", :class => "btn btn-primary btn-sm" %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
</div>
