<div class="container">

  <% @companies.each do |company| %>
  <ul>
    <h2><%= company.company_name %></h2>
    <h3><%= company.user_id %></h3>
  </ul>
  <!-- = link_to car_path(car), :class => "btn-details" do %>Detalhes-->
  <% end %>

</div>
