<div class="container">
  <table style="width:100%">
    <tr>
      <th>Nome da Empresa</th>
      <th>Balconista</th>
      <th>Opções</th>
    </tr>
    <% @companies.each do |company| %>
      <tr>
          <td><%= company.company_name %></td>
          <td><%= company.user.email %></td>
          <td>
            <%= link_to "Excluir",
                            company_path(company),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
          </td>
      </tr>
    <% end %>
  </table>
</div>


