<div class="container">
  <table style="width:100%">
    <tr>
      <th>Nome da Empresa</th>
      <th>Balconista</th>
      <% if current_user.admin? %>
        <th>Opção</th>
      <% end %>
    </tr>
    <% @companies.each do |company| %>
      <% if current_user.admin? || current_user.police? || company.user == current_user %>
        <tr>
          <td><%= company.company_name %></td>
          <td><%= company.user.email %></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to "Excluir",
                              company_path(company),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>


