<div class="container">
  <table style="width:100%">
    <tr class="text-primary">
      <th><i class="fas fa-bus"></i>Nome da Empresa</th>
      <th><i class="far fa-id-badge"></i>Balconista</th>
      <% if current_user.admin? %>
        <th><i class="fas fa-tools"></i>Opção</th>
      <% end %>
    </tr>
    <% @companies.each do |company| %>
      <% if current_user.admin? || current_user.police? || company.user == current_user %>
        <tr>
          <td><%= company.company_name %></td>
          <td><%= company.user.email %></td>
          <% if current_user.admin? %>
            <td class="text-primary"><i class="fas fa-trash-alt"></i>
              <%= link_to "Excluir",
                              company_path(company),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
