.secound-head .navbar-nav li .nav-link{
	color:#000;
}
.secound-head .navbar-brand{
	color:#000;
}
.secound-head.light-header{
	position:fixed;
	width:100%;
	background:#fff;
	z-index:99999;
	transition:ease 0.5s;
}
.login-page{
	background: #f6f6f6;  /* fallback for old browsers\
	background: -webkit-linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding:40px 0px;
	min-height:650px;
	position:relative;
	display:inline-flex;
	width:100%;
	margin-left: -150px;
}
.log-box{
	border-radius:10px;
	min-height:500px;
	box-shadow:0px 0px 10px #ccc;
	display:inline-block;
	width:100%;
}
.logo-back{
	background: url("https://images.unsplash.com/photo-1584634669217-ac52d9f223a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1850&q=80");
	background-size: auto auto;
	display: inline-block;
	width: 110%;
	align-items: center;
	justify-content: center;
	height: 107%;
	border-radius: 10px 0px 0px 10px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
	p{
		color: #fff;
		padding-left: 18px;
    padding-top: 19px;
    font-size: 25px;
    text-align: center;
	}
}
.log-content{
	padding:40px 20px 0px;
	display:inline-block;
	width:100%;
	height: 107%;
	background-color:#fff;
	min-height:460px;
	border-radius:0px 10px 10px 0px;
}
.myr-top{
	margin-top:15px;
}
.log-content .log-body{
	margin-top:50px;
}
.log-content label{
	margin:0px;
	font-family:inherit;
	font-size:14px;

}
.log-content .custom{
	border-bottom:1px solid #000;
	padding:10px 10px 10px 0px
}
.log-btn{
	padding-bottom:20px;
}
.btn-theme1{
	font-size:16px;
	font-family:Poppins-R;
	padding:10px 20px;
	background-color:#35cbdf;
	color:#fff;
	border:1px solid transparent;
	border-radius:50px;
	transition:ease 0.5s;
}
.btn-theme1:hover{
	color:#35cbdf;
	background-color:#fff;
	border:1px solid #000;
}
.log-bottom-cotent{
	margin-top:28%;
}

.fa-bus-alt {
	color: $yellow;
	padding-left: 130px;
  padding-top: 150px;
}

.fa-search {
	vertical-align: -11%;
	margin-right: 6px;
	font-size: 28px;
}

.search-nav {
	vertical-align: -11%;
	margin-right: -9px;
	font-size: 17px;
	color: $gray;
}

.logo-sign {
	font-weight: bolder;
	color: $gray;
}