.br-pagination {
  margin: 0 0 24px;
  padding: 0;
}

.br-pagination li {
  display: inline-flex;
  list-style: none;
  margin: 0;
}

.br-pagination a {
  border-radius: 100px;
  color: var(--color-primary-default);
  font-weight: 400;
  justify-content: center;
  min-width: 24px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
}

.br-pagination a:hover {
  background-color: var(--color-primary-pastel-02);
  text-decoration: none;
}

.br-pagination .is-active a {
  background-color: #071D41;
  color: var(--color-secondary-01);
}

.br-pagination .is-first::after {
  color: var(--color-secondary-04);
  content: "|";
}

.br-pagination .is-last::before {
  color: var(--color-secondary-04);
  content: "|";
}

.br-pagination .is-disabled a {
  color: var(--color-secondary-06);
  cursor: default;
  pointer-events: none;
}

@media (min-width: 575px) {
  .br-pagination.is-large li {
    font-size: 1.25rem;
  }
  .br-pagination.is-large a {
    margin: 0 4px;
    min-width: 30px;
  }
  .br-pagination.is-large .is-first::after {
    margin: 0 8px;
  }
  .br-pagination.is-large .is-last::before {
    margin: 0 8px;
  }
}


.digg_pagination {
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;; }
  .digg_pagination .current {
    font-style: normal;
    background: #071D41;
    color: white; }
  .digg_pagination a {
    text-decoration: none;
    color: #071D41; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #071D41; }
  .digg_pagination .page_info {
    background: #071D41;
    padding: 0.4em 0.6em;
    width: 26em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
